


#templatesMiniatures{
    display:block;
    margin:20px;
}

.template{
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius:2px;
    max-width: 150px;
    max-height:200px;
    margin:20px;
    display:block;

}

.template div{
    transform : translate(-35%, -35%) scale(0.25);
}

.template:hover{
    cursor: pointer;
    transform : scale(1.05);
    transition: transform 0.5s;
}


.template *{
    pointer-events: none;
}

#editionPanel{
    margin: 0 auto;
    width:50%;
    height:700px;
    background-color:lightgrey;
    position: absolute;
    top:10%;
    left:25%;
    visibility: hidden;
    
}


#widgetsPanel{
    width:15%;
    height:700px;
    left:10%;
    background-color: lightslategray;
    position:absolute;
    top:10%;
    visibility: hidden;
}



.widgetCreator{
    display:block;
    margin:10%;
    padding:10%;
    width:80%;
    font-size:2vw;
}


#templateToEdit{
    background-color: whitesmoke;
}


#inspector{
    width:15%;
    height:700px;
    right:10%;
    background-color: lightslategray;
    position:absolute;
    top:10%;
    visibility: hidden;
}

.numberInput{
    margin:0;
    width:35%;
    font-size:1.4vw;
    border:0;
    padding:0;
}

#anchorInput{
    margin:5%;
    width:90%;
}

.inputLabel{
    font-size:1.25vw;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:2%;
}


.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    visibility: hidden;
}


line{
    stroke:rgb(52, 129, 218);
    stroke-width:2;
    
}

svg{
    margin: 0 auto;
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    overflow: hidden;
}

#status{
    visibility: hidden;
    padding:5px;
    border-radius:2px;
    border:1px solid black;
    left:40%;
    width:40%;
    top:40%;
}


header{
    text-align: center;
    font-size:25px;
    background-color: lightblue;
}